<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>M-E-S-H: Bojan Radojcic, Designer, Chicago</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">  
    <%= stylesheet_link_tag "all" %>
    <%= javascript_include_tag  "all", "jquery", "nav" %>
  <link href="http://fonts.googleapis.com/css?family=Inconsolata" rel="stylesheet" type="text/css">
  </head>
  <body class="<%= page_classes %>">
    <header>
      <a href="index.html"><h1>M—E—S—H</h1></a>
      <nav>
        <a class="" href="work.html">Work</a>
        <a class="" href="cv.html">CV</a>        
        <a class="" href="info.html">Info</a>        
      </nav>
      <a href="" id="mobile">≣</a>
    </header>  
    <%= yield %>
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-37959000-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
    <script>
      $("#mobile").click(function () {
        $("nav").toggleClass("open");
        $("body").toggleClass("margin");
          event.preventDefault();
      });
    </script>
  </body>
</html>