---
layout: "home"
---

<div class="home">
  <header class="intro">
    <h1>M—E—S—H</h1>
    <p>A cross-disciplinary, collaborative design practice of Bojan Radojcic, <span class="logo">M—E—S—H</span>, is particularly interested in crafting engaging narratives and thoughtful experiences.</p>
  </header>
</div>  
<div>
  <section class="about">
  <p>Hi there—<BR>I currently work at <a href="http://www.morningstar.com">Morningstar, Inc</a> on a variety of information and editorial design projects. Before I joined Morningstar in early 2011, I was the art director of a Chicago-based design and architecture magazine <a href="http://www.wearedesignbureau.com">Design Bureau</a>. Even earlier, I designed textiles for <a href="http://www.jeremyscott.com">Jeremy Scott</a> in Los Angeles.</p>
  <p>
    <a class="button" href="cv.html">READ MY CV</a>
    <a class="button" href="work.html">VIEW MY WORK</a>
  </p>
</section>
<section>
  <p class="contact">——<BR>Available for collaborations, freelance work, and coffee dates.</p>
  <p><a class="button" href="mailto:bojan@m-e-s-h.info?Subject=Hello">GET IN TOUCH</a></p>
</section>
</div>