---
layout: "home"
---

<div class="home">
  <header class="intro">
    <h1>M—E—S—H</h1>
    <p>A cross-disciplinary, collaborative design practice of Bojan Radojcic, <span class="logo">M—E—S—H</span>, is particularly interested in crafting engaging narratives and thoughtful experiences.</p>
  </header>
</div>  
