<article class="projects">
<!--   <section class="" id="booth">
    <h4>Stereoscopic.gif Photo Booth</h4>
    <p>Created for the Chicago Design Museum, Stereoscopic.gif Photo Booth is a celebration of special, temporary spaces, and participatory engagement.</p>
    <p><a class="button" href="http://www.stereogif.me">VIEW PROJECT ➔</a></p>
  </section>
  <section class="" id="morningstar">
    <h4>Morningstar, Inc</h4>
    <p></p>
  </section>
  <section class="" id="designbureau">
    <h4>Design Bureau</h4>
    <p></p>
  </section>
  <section class="" id="difference">
    <h4>Différence</h4>
    <p></p>
  </section>  -->
</article>

